In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import locale

In [13]:
df = pd.read_csv('./listings.csv')
df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (61,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,35303,https://www.airbnb.com/rooms/35303,20200322040935,2020-03-22,"La Casa Gaienmae C Harajuku, Omotesando is nearby",This shared flat is locating at very close to ...,This apartment is 3 bedroom flat shared with t...,This shared flat is locating at very close to ...,none,10 min walking to Harajuku ~ Urahara ~ Omotesa...,...,f,f,strict_14_with_grace_period,f,f,3,2,1,0,0.18
1,197677,https://www.airbnb.com/rooms/197677,20200322040935,2020-03-22,Oshiage Holiday Apartment,NaN,"We are happy to welcome you to our apartment, ...","We are happy to welcome you to our apartment, ...",none,NaN,...,f,f,moderate,f,f,1,1,0,0,1.59
2,289597,https://www.airbnb.com/rooms/289597,20200322040935,2020-03-22,Private apt in central Tokyo #203,NaN,::::::::::::::::::::::::::::::::::::::::::::::...,::::::::::::::::::::::::::::::::::::::::::::::...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,2,2,0,0,1.19
3,370759,https://www.airbnb.com/rooms/370759,20200322040935,2020-03-22,"Cozy flat #203, local area YET 10 mins to shib...","So close to busy centers, yet so peaceful! Jus...","Cozy and Relaxing, at home feeling in a reside...","So close to busy centers, yet so peaceful! Jus...",none,Peaceful and residential area just 10 mins awa...,...,t,f,strict_14_with_grace_period,f,f,3,3,0,0,1.40
4,700253,https://www.airbnb.com/rooms/700253,20200322040935,2020-03-22,Private apt in central Tokyo #201,NaN,::::::::::::::::::::::::::::::::::::::::::::::...,::::::::::::::::::::::::::::::::::::::::::::::...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,2,2,0,0,1.14

In [14]:
cal = pd.read_csv('./calendar.csv')
cal.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,314459,2020-04-10,t,$52.00,$52.00,3.0,100.0
1,314934,2020-04-11,t,$85.00,$85.00,2.0,1125.0
2,314934,2020-04-12,t,$85.00,$85.00,2.0,1125.0
3,314934,2020-04-13,t,$85.00,$85.00,2.0,1125.0
4,314934,2020-04-14,t,$85.00,$85.00,2.0,1125.0

In [15]:
df['price_val'] = df.price.replace('[\$,]*','',regex=True).astype(float)
df['weekly_price_val'] = df.weekly_price.replace('[\$,]*','',regex=True).astype(float)
df['monthly_price_val'] = df.monthly_price.replace('[\$,]*','',regex=True).astype(float)

In [21]:
df.columns[df.isnull().sum()>0]

Index(['summary', 'space', 'description', 'neighborhood_overview', 'notes',
       'transit', 'access', 'interaction', 'house_rules', 'thumbnail_url',
       'medium_url', 'xl_picture_url', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood',
       'host_listings_count', 'host_total_listings_count',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'bedrooms', 'beds', 'square_feet', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'jurisdiction_names',
       'reviews_per_month', 'weekly_price_val', 'monthly_price_val'],
      dtype='object')

In [6]:
df.groupby('host_id').price_val.mean()

host_id
151977        7571.666667
341577        4210.500000
771694       19751.125000
918551       15291.000000
961324        3546.000000
                 ...
341055885    19945.000000
341382455    17208.400000
341486623     4986.000000
341754858    69919.000000
341763186     4986.000000
Name: price_val, Length: 3752, dtype: float64